# ---> Kate
# Swap Files #
.*.kate-swp
.swp.*

# ---> Nim
nimcache/
nimblecache/
htmldocs/
*_[0-9][0-9]*.nims

# ---> Project specific
# Binaries #
ip4
ip6
"validateip"
testplus
testminus
# Misc #
notes.nim
htmldocs/
